In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [4]:
for num in range(0,10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [6]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [8]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [9]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [10]:
#enumerate

In [11]:
index_count = 0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [19]:
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [13]:
type(item)

tuple

In [20]:
#zip function

In [21]:
mylist1 = ['a','b','c']
mylist2 = [1,2,3]
for item in zip(mylist1,mylist2):
    print(item)

('a', 1)
('b', 2)
('c', 3)

In [23]:
mylist1 = ['a','b','c']
mylist2 = [1,2,3]
for l1,l2 in zip(mylist1,mylist2):
    print(l1)
    print(l2)

a
1
b
2
c
3

In [25]:
mylist1 = ['a','b','c']
mylist2 = [1,2,3,4,5]
list(zip(mylist1,mylist2))

[('a', 1), ('b', 2), ('c', 3)]

In [26]:
mylist1 = ['a','b','c']
mylist2 = [1,2,3,4,5]
mylist3 = [11,22,33]
for item in zip(mylist1,mylist2,mylist3):
    print(item)

('a', 1, 11)
('b', 2, 22)
('c', 3, 33)

In [29]:
mylist1 = ['a','b','c']
mylist2 = [1,2,3,4,5]
mylist3 = [11,22,33]
for l1,l2,l3 in zip(mylist1,mylist2,mylist3):
    print(l1)
    print(l2)
    print(l3)

a
1
11
b
2
22
c
3
33

In [30]:
#in keyword

In [31]:
'x' in [1,2,3]

False

In [33]:
'x' in ['x','y','z']

True

In [34]:
'a' in 'Wonderla'

True

In [43]:
'mykey' in {'mykey':1}

True

In [44]:
d = {'mykey':345}

In [41]:
345 in d.values()

True

In [45]:
345 in d.keys()

False

In [46]:
345 in d.items()

False

In [47]:
#min,max

In [49]:
mylist = [10,20,30,40,50,60]
min(mylist)

10

In [50]:
max(mylist)

60

In [51]:
#random library

In [64]:
from random import shuffle
mylist = [1,2,3,4,5,6,7,8]
shuffle(mylist)
rd1 = mylist

In [65]:
rd1

[3, 7, 5, 1, 8, 2, 4, 6]

In [67]:
from random import randint
randint(0,10)

18

In [68]:
randint(0,100)

89

In [71]:
my_num = randint(0,50)

In [72]:
my_num

11

In [73]:
#Input()

In [74]:
input('Enter a number here')

Enter a number here22

'22'

In [76]:
input('what is your favourit color?')

what is your favourit color?22

'22'

In [77]:
int(input('Enter your favourite no'))

Enter your favourite no22

22

In [78]:
result = int(input('Enter your favourite no'))

Enter your favourite no22

In [79]:
result

22

In [80]:
type(result)

int

In [81]:
number = float(input('enter 1st number'))
number_two = float(input('Enter second number'))
result = number + number_two
print(result)

enter 1st number44
Enter second number66
110.0

In [82]:
#List comprehensions in Python

In [83]:
mystring = 'hello'
mylist = []
for letter in mystring:
    mylist.append(letter)

In [84]:
mylist

['h', 'e', 'l', 'l', 'o']

In [85]:
mystring = 'hello'
mylist = [letter for letter in mystring]

In [86]:
mylist

['h', 'e', 'l', 'l', 'o']

In [92]:
mylists = [x for x in 'april and may']

In [93]:
mylists

['a', 'p', 'r', 'i', 'l', ' ', 'a', 'n', 'd', ' ', 'm', 'a', 'y']

In [97]:
mynum = [num**2 for num in range(0,11)]

In [98]:
mynum

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [103]:
myeven = [x**2 for x in range(0,11) if x%2 == 0]

In [104]:
myeven

[0, 4, 16, 36, 64, 100]

In [105]:
celcius = [0,10,20,30,50,34.5]
fahrenheit = [((9/5)*temp+32) for temp in celcius]

In [107]:
fahrenheit

[32.0, 50.0, 68.0, 86.0, 122.0, 94.1]

In [110]:
celcius = [0,10,20,30,50,34.5]
fahreneit = []
for temp in celcius:
    fahrenheit.append((9/5)*temp+32)
print(fahrenheit)

[32.0, 50.0, 68.0, 86.0, 122.0, 94.1, 32.0, 50.0, 68.0, 86.0, 122.0, 94.1, 32.0, 50.0, 68.0, 86.0, 122.0, 94.1]

In [112]:
results = [x if x%2 == 0 else 'ODD' for x in range(0,10)]

In [113]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

In [114]:
#nested loop

In [117]:
mylist=[]
for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [118]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [121]:
mynest = [x*y for x in [2,4,6] for y in[1,10,1000]]

In [122]:
mynest

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]